<p>Hi Team,</p>
<p>This mail to notify you that this user: <strong><%= @user.name %>(<%= @user.id %>) </strong> is newly sign-up. </p>
<p>Please send him/her password within two working days.</p>
<p>Thank you.</p>
<p>&nbsp;</p>
<p>Best Regards,</p>
<p>ClassroomBlogs system</p>