<%- model_class = User -%>
<div class="page-header">
  <% if @current_user.present? && @current_user.role == 'admin' %>
    <h1><%= link_to('All Users', users_path) %> > <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
  <% else %>
    <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
  <% end %>
</div>
<%= render :partial => 'form' %>
